Source: darcs-to-git
Section: devel
Priority: extra
Maintainer: Simon Huerlimann <simon.huerlimann@cyt.ch>
Build-Depends: debhelper (>= 5), help2man, ruby
Standards-Version: 3.7.3
Vcs-Browser: http://code.cyt.ch/cgi-bin/gitweb.cgi?p=darcs-to-git.git
Vcs-Git: http://code.cyt.ch/git/darcs-to-git.git
Homepage: http://www.sanityinc.com/articles/converting-darcs-repositories-to-git

Package: darcs-to-git
Architecture: any
Depends: ruby, darcs, git-core
Description: converts a Darcs repository into a Git repository
 Converts a Darcs repository into a Git repository.  Supports
 incremental updates, i.e., you can pull new patches from the source
 repository or import a large repository in steps.
