Source: darcs-to-git
Section: devel
Priority: extra
Maintainer: Simon Huerlimann <simon.huerlimann@cyt.ch>
Build-Depends: debhelper (>= 5), help2man
Standards-Version: 3.8.3

Package: darcs-to-git
Architecture: any
Depends: ruby, darcs, git-core
Description: converts a Darcs repository into a Git repository
 Converts a Darcs repository into a Git repository.  Supports
 incremental updates, i.e., you can pull new patches from the source
 repository or import a large repository in steps.
